body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
	background: linear-gradient(-45deg, #000000, #5ed580, #000000, #23a6d5, #000000, #23d5ab, #000000);

	animation: gradient 15s ease infinite;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5em;
  font-weight: bold;
}
.p1 {
  color: white; 
  font-size: 1.5em;
  font-weight: bold;
}

.p2 {
  color: rgb(11, 213, 11); 
  font-size: 1.5em;
  font-weight: bold;
}
.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.cart-icon img {
  width: 30px;
  height: 30px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 15px;
}


.vertical-navbar {
  background-color: #4CAF50;
  width: 150px;
  position: fixed;
  top: 102px;
  left: -10px;
  bottom: 0;
  z-index: 999;
}


.vertical-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vertical-menu li {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.vertical-menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.vertical-menu li a:hover {
  background-color: #5CBF62;
}


.vertical-menu li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-out;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.vertical-menu li:hover::before {
  transform: scaleX(1);
}


.content {
  padding: 20px;
  margin-top: 93px; 
  padding-bottom: 60px;

}


.home {
  text-align: center;
}

.food-cards {
  display: flex;
  justify-content: center;
  gap: 40px; /* Increased gap between cards */
  margin-right: 170px; /* Adjust the margin to center between vertical navbar and right side */
  margin-left: 180px; /* Adjust the margin to center between vertical navbar and right side */
  flex-wrap: wrap;
}

.food-card {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  margin-bottom: 20px;
}

.food-card img {
  width: 200px;
  height: 150px;
  border-radius: 6px;
  object-fit: cover;
  margin-bottom: 10px;
}

.food-card h3 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-to-cart:hover {
  background-color: #45a049;
}
.sidebar {  padding: 15px;
  color: white;
}
.account {
  position: relative;
}

.account a {
  color: #fbfbfb;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #0eaf11; 
  border-radius: 5px; 
  transition: all 0.3s ease; 
}

.account a:hover {
  background-color: #f9f9f9; 
  border-color: #ccc; 
}
.account-dropdown {
  display: none;
  position: absolute;
  background-color: #0db610;;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.account-dropdown a {
  color: #0b0b0b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-dropdown a:hover {
  background-color: #f9f9f9;
}


.account:hover .account-dropdown {
  display: block;
}
.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.title {
  color: white;
  font-size: 2em;
  animation: wave 2s linear infinite;
  background: linear-gradient(-45deg, #000, #29ef5a, #0adf0e, #000, #fff, #000, #1b670d, #000, #023204);
  background-size: 200% 100%;
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Footer styles */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  z-index: 1;
}


.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 5px 0;
}
